@import "shared.scss";

.Toggle {
  position: absolute;
  top: $md;
  right: 0;
  color: $secondary-grey;
  font-size: $font-small;
  font-family: $text-bold-font-stack;
  cursor: pointer;

  @include small {
    top: $sm;
    right: $sm;
  }
}
