.Container {
  margin-bottom: 20px;
}

.InnerContainer {
  display: flex;
  margin-bottom: 10px;
}

.Button {
  border-radius: 0 3px 3px 0;
  width: 200px;
  min-width: 150px;
}

.Title {
  margin-bottom: 10px;
}

.DeliveryCost {
  display: flex;
  margin-bottom: 5px;

  p {
    margin: 0;
    &:last-child {
      margin-left: auto;
      font-weight: 500;
    }
  }
}

.Confirmation {
  margin: 0;
  color: #757575;
}

.Field {
  margin-bottom: 0;
  height: 46px;
  border: 1px solid #e5e5e5;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  min-width: 200px;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.Error {
  text-align: center;
  color: #cc0000;
  margin: 10px;
}
